
/* Keyframes and animations */
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradient 8s linear infinite;
}

/* Navbar flashlight animation */
@keyframes navbarFlashlight {
  0% {
    background-position: -100% 50%;
  }
  50% {
    background-position: 200% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}

/* Color change animation */
@keyframes colorChange {
  0%, 100% {
    --primary: 252 87% 74%;
    --secondary: 253 55% 54%;
  }
  33% {
    --primary: 190 90% 70%;
    --secondary: 200 70% 50%;
  }
  66% {
    --primary: 280 85% 75%;
    --secondary: 290 60% 55%;
  }
}

@keyframes lightColorChange {
  0%, 100% {
    --primary: 224 76% 48%;
    --secondary: 220 60% 60%;
  }
  33% {
    --primary: 210 70% 50%;
    --secondary: 200 65% 55%;
  }
  66% {
    --primary: 245 65% 55%;
    --secondary: 235 60% 60%;
  }
}
